body {
    background-image: url("img/fondo\ blanco.jpg");
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    padding: 15px;
}
li{
    font-family: 'Coda', cursive;
}
.navegacion {
    background-color:#c08282;
    padding: left 20px;
}
.lista-de-menu {
    list-style: none;
}
.item-de-menu {
    display: inline-block;
    padding: 20px;
}
.link-de-menu {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.item-de-menu:hover {
    background-color:rgb(177, 81, 81) ;
    color: aliceblue;
}
.item-de-menu:active {
    padding: 16px;
    border: 5px outset rgb(202, 113, 113);
}

main{
    display:flex;
}
section{
    width: 80%;
}
footer{
    position: fixed;
    bottom: 0;
}
aside{
    text-align: end;
}